/* DEFAULT SETTINGS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */

.head {
    background-color: #1E90FF;
    background-image: url(../img-booleaner/img/pattern.png);
}

#boolean {
    margin-top: 5%;
    margin-left: 1%;
}

h1 {
    font-size: 4em;
    margin-top: 1%;
    margin-left: 0.7%;
}

.autore {
    margin-left: 0.7%;
    font-size: 1em;
    color: grey;
}

.autore2 {
    margin-left: 0.7%;
    font-size: 0.7em;
    color: grey;
}

#span {
    color: #006ee6 ;
}

figure {
    font-size: 0.7em;
    margin-left: 0.7%;
}

.tim {
    margin-top: 1.5%;

}

/* CORPO DELLA PAGINA */

main {
    margin-left: 0.7%;
}

.articolo {
    margin-top: 1%;
    font-size: 1em;
}

/* LISTA DISORDINATA */

ul {
    margin-top: 1%;
    margin-left: 0.7%;
    font-size: 1em;
}

/* TAVOLA */

table {
    margin-top: 1%;
    border-spacing: 0;
}

thead {
    background-color: #1E90FF;
    text-align: left;
}

.terzotitolo {
    width: 50%;
}

.celeste {
    background-color: #9ceeff;
}

/* FOOTER */
h3 {
    color: gray;
    margin-left: 0.7%;
}

.img1 {
    margin-left: 0.7%;
    background-image: url(../img-booleaner/img/monitor.jpg);
    height: 200px;
    width: 20%;
    color: white;
}

.img2 {
    background-image: url(../img-booleaner/img/graph.jpg);
    margin-left: 0.7%;
    height: 200px;
    width: 20%;
    color: white;
    margin-top: 0.7%;
}
